<script lang="coffee">

  module.exports =
    replace: false

    data: ->
      currentUser: {}

    ready: ->
      @currentUser = JSON.parse(localStorage.getItem('currentUser'))

      if @currentUser?
        @$http.get("users/#{@currentUser.id}")
          .then (response) ->
            @$set('currentUser', response.data.user)

            # Add the current user to local storage where it can be accessible in
            # the router's `beforeEach` method.
            localStorage.setItem('currentUser', JSON.stringify(@$root.currentUser))

          .catch (response) ->
            console.error response

</script>

<template>

  <router-view></router-view>

</template>