<script lang="coffee">
  module.exports =
    name: 'Dashboard'

</script>

<template>
  <main>
    <section class="container pt-10">
      <div class="col-md-10 push-md-1">
        <h1 class="t-2">June 21, 2016</h1>
      </div>
    </section>
    <section class="container py-7">
      <div class="col-md-2 push-md-1">
        <div class="mb-4">
          <p class="tn-1 cg-2">Calorie Intake</p>
          <p class="t-3">0 <span class="tn-1 cg-3">/ {{  $root.currentUser.daily_caloric_need }}</span></p>
        </div>
        <div class="mb-4">
          <p class="tn-1 cg-2">Daily Caloric Need</p>
          <p class="t-2">{{  $root.currentUser.daily_caloric_need }}</p>
        </div>

        <div class="mb-4">
          <p class="tn-1 cg-2">Daily Caloric Need</p>
          <p class="t-2">{{  $root.currentUser.daily_caloric_need }}</p>
        </div>

      </div>
      <div class="col-md-7 push-md-1">
        <p class="tn-1 cg-2 mb-2">Breakfast</p>
        <div class="py-2 cbgg-7 mb-4"></div>

        <p class="tn-1 cg-2 mb-2">Snack</p>
        <div class="py-2 cbgg-7 mb-4"></div>

        <p class="tn-1 cg-2 mb-2">Lunch</p>
        <div class="py-2 cbgg-7 mb-4"></div>

        <p class="tn-1 cg-2 mb-2">Pre-Workout</p>
        <div class="py-2 cbgg-7 mb-4"></div>

        <p class="tn-1 cg-2 mb-2">During Workout</p>
        <div class="py-2 cbgg-7 mb-4"></div>

        <p class="tn-1 cg-2 mb-2">Post-Workout</p>
        <div class="py-2 cbgg-7 mb-4"></div>

        <p class="tn-1 cg-2 mb-2">Dinner</p>
        <div class="py-2 cbgg-7 mb-4"></div>

        <p class="tn-1 cg-2 mb-2">Night Snack</p>
        <div class="py-2 cbgg-7 mb-4"></div>

      </div>
    </section>
      </main>
</template>