<script lang="coffee">

  module.exports =
    name: 'About'

</script>

<template>
  <main>
    <div class="container py-8">
      <div class="col-md-6 push-md-2">
        <h1 class="t-4 mb-5">Viden</h1>

        <p class="mb-3">Viden is the Danish word for <u>knowledge</u>.</p>

        <p class="mb-3">Today's world is filled with false information and marketing gimmicks that exploit your desire to be healthy by promising quick solutions. Viden is built upon the belief that positive outcomes don't come from external sources. Success comes from a determination to make permanent lifestyle changes for the better.</p>

        <p>Viden is a resource that, when used regularly, can provide key insights into the progression and maintenance of a healthy diet. Viden is also supported by an active community of forward-thinking people who want to help each other be the best versions of themselves.</p>

      </div>
    </div>
  </main>
</template>