<script lang="coffee">
module.exports =

  data: ->
    brands: []
    selected: ""
    newBrand: {}
    keyword: null

  components:
    multiselect: require('vue-multiselect').Multiselect

  route:
    data: () ->
      @getBrands(@keyword)
  
  methods:
    getBrands: (keyword) ->

      if keyword?
        params =
          keyword: @keyword

      @$http.get('brands', params)
        .then (response) ->
          @$set('brands', response.data.brands)

        .catch (response) ->
          console.error response

    prepareCreateBrand: (newTag) ->
      @newBrand.name = newTag
      @createBrand()
      @selected = newTag

    createBrand: () ->
      @$http.post('brands', @newBrand)
        .then (response) ->
          @getBrands()
          @$set('newBrand', {})

        .catch (response) ->
          console.error response

    deleteBrand: (id) ->
      @$http.delete("brands/#{id}")
        .then (response) ->
          @getBrands()

        .catch (error) ->
          console.error response

    showBrand: (id) ->
      @$router.go("brands/#{id}")

</script>

<template>
  <div class="container py-10">
<!--     <div class="row mb-5">
      <div class="col-md-6 push-3">
        <multiselect 
          :options="brands"
          :selected.sync="selected"
          :searchable="true"
          :taggable="true"
          :on-tag="prepareCreateBrand"
          tag-placeholder="Add a New Brand"
          label="name"
          key="id" 
        ></multiselect>
      </div>
    </div> -->
    <form v-on:submit.prevent="createBrand" class="row mb-5">
      <div class="col-md-6 push-3 cbgg-white shadow px-4 py-3">
          <div class="field relative">
            <input type="text" v-model="newBrand.name" placeholder="Add Brand">
            <span class="t-1 absolute-right-middle ion-plus-circled mr-1"></span>
          </div>
      </div>
    </form>

    <div class="col-md-6 push-md-3">
      <ul class="cbgg-white">
        <li v-for="brand in brands | orderBy 'updated_at' -1" class="flex items-center py-2 px-3 b-8">
          <a v-link="{ path: '/admin/brands/' + brand.id }"><h3 class="tw-semibold mr-1 cg-black">{{ brand.name }}</h3></a>
          
          <button v-on:click.stop="deleteBrand(brand.id)" class="caps tn-1 cg-black flex-item-right a-2" >
            <span class="va-middle mr-2">Delete Brand</span>
            <span class="va-middle t-0 ion-minus-circled cg-1"></span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</template>