<script lang="coffee">
  module.exports =
    data: ->
      brand:
        foods: []

    components:
      foodsTable: require('../shared/foods-table')

    route:
      data: (transition) ->
        @$http.get("brands/#{transition.to.params.id}")
        .then (response) ->
          @$set('brand', response.data.brand)
          @$set('brand.foods', response.data.foods)

         .catch (response) ->
           console.error response
</script>


<template lang="html">
  <div class="container py-10">
    <div class="col-md-10 push-md-1 mb-5">
      <h1 class="t-3">{{ brand.name }}</h1>
    </div>
    <div class="col-md-10 push-md-1">
      <foods-table :foods="brand.foods"></foods-table>
    </div>
  </div>
</template>