<script lang="coffee">

module.exports = 
  name: "BrandInput"

  components:
    multiselect: require('vue-multiselect').Multiselect

</script>

<template>
  <div class="field">
    <multiselect 
      :options="brands"
      :searchable="true"
      
    </multiselect>
  </div>
</template>