<script lang="coffee">
module.exports =

  props:
    foods:
      type: Array
      required: true

  mixins: [
    require('../../../mixins/conversions')
  ]

</script>

<template>
  <div class="table w-100 shadow">
    <div class="table-row antialiased">
      <div class="table-column tn-1 cg-3 px-2 py-2">Name</div>
      <div class="table-column tn-1 cg-3 px-2 py-2">Brand</div>
      <div class="table-column tn-1 cg-3 px-2 py-2">Calories</div>
      <div class="table-column tn-1 cg-3 px-2 py-2">Carbs</div>
      <div class="table-column tn-1 cg-3 px-2 py-2">Fat</div>
      <div class="table-column tn-1 cg-3 px-2 py-2">Sodium</div>
      <div class="table-column tn-1 cg-3 px-2 py-2">Protein</div>
      <div class="table-column tn-1 cg-3 px-2 py-2">Sugar</div>
    </div>
    <div v-for="item in foods" class="table-row py-1 px-3 cbgg-white">
      <div class="table-column bb-8 px-2 py-2">
        <h3 class="tw-semibold pr-4">{{ item.name }} <span class="tn-1 cg-3" v-if="item.variation.length > 0">– {{ item.variation }}</span></h3>
      </div>
      <div class="table-column bb-8 px-2 py-2">
        <a v-link="{ path: '/admin/brands/' + item.brand.id }" class="underline tn-1 cg-3">{{ item.brand.name }}</a>
      </div>
      <div class="table-column bb-8 tn-1 cg-3 px-2 py-2">{{ item.calories_per_serving }}kcal</div>
      <div class="table-column bb-8 tn-1 cg-3 px-2 py-2">{{ converToG(item.carbs_per_serving) }}g</div>
      <div class="table-column bb-8 tn-1 cg-3 px-2 py-2">{{ converToG(item.fat_per_serving) }}g</div>
      <div class="table-column bb-8 tn-1 cg-3 px-2 py-2">{{ item.sodium_per_serving }}mg</div>
      <div class="table-column bb-8 tn-1 cg-3 px-2 py-2">{{ converToG(item.protein_per_serving) }}g</div>
      <div class="table-column bb-8 tn-1 cg-3 pl-2 pr-4 py-2">{{ converToG(item.sugar_per_serving) }}g</div>
    </div>
  </div>
</template>