<template>
  <header class="px-5 py-2">
    <div class="container">
      <div class="flex items-center">
        <div class="tn-1 cg-3 mr-5">Viden</div>
        <div>
          <a v-link="{ path: '/admin/foods', activeClass: 'underline' }" class="cg-black mr-2">Foods</a>
          <a v-link="{ path: '/admin/brands', activeClass: 'underline' }" class="cg-black mr-2">Brands</a>
          <a v-link="{ path: '/admin/recipes', activeClass: 'underline' }" class="cg-black">Recipes</a>
        </div>
      </div>
    </div>
  </header>
  <main>
    <router-view></router-view>
  </main>
</template>