<script lang="coffee">
  module.exports =

    data: ->
      foods: []
      brands: []
      newFood: {}
      overlayActive: false
      keyword: null

    components:
      foodsTable: require('../shared/foods-table')

    route:
      data: () ->
        @getFoods(@keyword)
        @getBrands()
    
    methods:
      getFoods: (keyword) ->

        if keyword?
          params =
            keyword: @keyword

        @$http.get('foods', params)
          .then (response) ->
            @$set('foods', response.data.foods)

          .catch (response) ->
            console.error response

      getBrands: ->
        @$http.get('brands')
          .then (response) ->
            @$set('brands', response.data.brands)
          .catch (response) ->
            console.error response

      filterFoods: ->
        @getFoods(@keyword)

      createFood: () ->
        @newFood.carbs_per_serving = @convertToMg(@newFood.carbs_per_serving)
        @newFood.fat_per_serving = @convertToMg(@newFood.fat_per_serving)
        @newFood.protein_per_serving = @convertToMg(@newFood.protein_per_serving)
        @newFood.sugar_per_serving = @convertToMg(@newFood.sugar_per_serving)

        @$http.post('foods', @newFood)
          .then (response) ->
            @getFoods()
            @toggleOverlay()
            @$set('newFood', [])

          .catch (response) ->
            console.error response

      toggleOverlay: ->
        @overlayActive = !@overlayActive

</script>

<template>
  <main class="container py-10 px-4">

    <div class="row mb-5">
      <div class="col-md-10 push-md-1">
        <div class="row cbgg-white shadow px-4 py-3 mb-2">
          <div class="field relative">
            <input type="text" v-model="keyword" v-on:keyup.enter="filterFoods" placeholder="Search Foods">
            <span class="t-1 absolute-right-middle ion-ios-search-strong mr-2"></span>
          </div>
        </div>
        <div class="row">
          <button v-on:click="toggleOverlay" class="btn-solid cbgg-7">
            <span class="va-middle t-1 ion-plus-circled cg-1 mr-1"></span>
            <span class="va-middle tn-1 caps">Add Food</span>
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-10 push-md-1">
      <foods-table :foods="foods"></foods-table>
    </div>

    <div v-show="overlayActive" class="overlay py-8">
      <div class="container">
        <div class="py-5 px-4 cbgg-white relative">
          <button v-on:click="toggleOverlay" class="mb-5 cg-white absolute-top-right yn-100">x Close</button>

          <validator name="createFoodValidator">
            <form v-on:submit.prevent="createFood" class="row mb-5" novalidate>
              <div class="row mb-4">
                <div class="field col-md-4">
                  <label>Brand</label>
                  <select v-model="newFood.brand_id">
                    <option v-for="brand in brands" v-bind:value="brand.id">{{ brand.name }}</option>
                  </select>
                </div>
              </div>
              <div class="field mb-4">
                <label>Name</label>
                <input type="text" v-model="newFood.name" v-validate:newFood.name="{ required: true }">
              </div>
              <div class="field mb-4">
                <label>Varation <span class="tn-1 cg-3">Optional</span></label>
                <input type="text" v-model="newFood.variation" placeholder="Flavor">
              </div>
              <div class="row mb-4">
                <div class="flex mln-1">
                  <div class="field pl-1">
                    <label>Calories</label>
                    <input type="number" v-model="newFood.calories_per_serving" v-validate:newFood.calories_per_serving="{ required: true }">
                  </div>
                  <div class="field pl-1">
                    <label>Carbohydrates (g)</label>
                    <input type="number" v-model="newFood.carbs_per_serving" v-validate:newFood.carbs_per_serving="{ required: true }">
                  </div>
                  <div class="field pl-1">
                    <label>Fat (g)</label>
                    <input type="number" v-model="newFood.fat_per_serving" v-validate:newFood.fat_per_serving="{ required: true }">
                  </div>
                  <div class="field pl-1">
                    <label>Sodium (mg)</label>
                    <input type="number" v-model="newFood.sodium_per_serving" v-validate:newFood.sodium_per_serving="{ required: true }">
                  </div>
                  <div class="field pl-1">
                    <label>Protein (g)</label>
                    <input type="number" v-model="newFood.protein_per_serving" v-validate:newFood.protein_per_serving="{ required: true }">
                  </div>
                  <div class="field pl-1">
                    <label>Sugar (g)</label>
                    <input type="number" v-model="newFood.sugar_per_serving" v-validate:newFood.sugar_per_serving="{ required: true }" placeholder="Sugar">
                  </div>
                </div>
              </div>

              <button v-if="$createFoodValidator.valid" type="submit" class="btn-solid cbgg-black cg-white">Add {{ newFood.name }}</button>

            </form>
          </validator>
        </div>
      </div>
    </div>
  </main>
</template>