<script lang="coffee">

  module.exports =
    name: "RecipesIndex"

    data: ->
      recipes: []

    directives:
      focus = require('vue-focus')

    route:
      data: () ->
        @getRecipes()
    
    methods:
      getRecipes: () ->

        @$http.get('recipes')
          .then (response) ->
            @$set('recipes', response.data.recipes)

            console.log @recipes

          .catch (response) ->
            console.error response

</script>

<template>
  <main class="container py-10 px-4">
    
    <div class="mb-5 row">
      <form @submit.prevent="" class="col-md-8">
        <h2 class="caps tn-1 cg-3 mb-2 px-4">About this Recipe</h2>

        <div class="cbgg-white shadow px-4 py-3 mb-4">
          <div class="row mb-4">
            <div class="field col-10">
              <label class="tn-1">Recipe Name</label>
              <input v-focus-auto type="text">
            </div>

            <div class="field col-2 pl-2">
              <label class="tn-1">Serves</label>
              <input type="number" placeholder="1">
            </div>
          </div>

          <div class="row field">
            <label class="tn-1">Tags</label>
            <input type="text" placeholder="Budget">
          </div>
        </div>

        <h2 class="caps tn-1 cg-3 mb-2 px-4">Ingredients</h2>

        <div class="table w-100 mb-5" >

          <div class="table-row cbgg-white" >
            <div class="table-column w-5 bb-thick-8 p-3">
              <div class="ratio-1_1 cbgg-7 rounded"></div>
            </div>
            <div class="table-column bb-thick-8 pl-1 pr-4 py-3">
              <p>Whole Wheat Pasta</p>
              <p class="tn-1 cg-4">Whole Foods 365</p>
            </div>
            <div class="table-column bb-thick-8 px-4 py-3">
              <p>1 <span class="tn-1 cg-4">lb</span></p>
            </div>
            <div class="table-column bb-thick-8 px-4 py-3 ta-right">
              <button class="flex-item-right btn-solid"><span class="t-1 ion-minus-circled cg-5"></span></button>
            </div>
          </div>

          <div class="table-row cbgg-white" >
            <div class="table-column w-5 bb-thick-8 p-3">
              <div class="ratio-1_1 cbgg-7 rounded"></div>
            </div>
            <div class="table-column bb-thick-8 pl-1 pr-4 py-3">
              <p>Organic Unsalted Butter</p>
              <p class="tn-1 cg-4">Whole Foods 365</p>
            </div>
            <div class="table-column bb-thick-8 px-4 py-3">
              <p>8 <span class="tn-1 cg-4">tbsp</span></p>
            </div>

            <div class="table-column bb-thick-8 px-4 py-3 ta-right">
              <button class="flex-item-right btn-solid"><span class="t-1 ion-minus-circled cg-5"></span></button>
            </div>
          </div>

        </div>


        <div class="row px-4 py-3 mb-1">
          <div class="flex items-center">
            <div>
              <p class="cg-4 tn-1">Removed</p>
              <p class="cg-3 strikethrough">Organic Unsalted Butter</p>
            </div>
            <button class="flex-item-right btn-solid"><span class="t-1 ion-reply cg-4"></span></button>
          </div>
        </div>

        <div class="row py-1">
          <button class="btn-solid cbgg-7">
            <span class="va-middle t-1 ion-plus-circled cg-1 mr-2"></span>
            <span class="va-middle tn-1 caps">Add Ingredient </span>
          </button>
        </div>

      </form>


      <div class="col-md-4 px-6">
        <h2 class="caps tn-1 cg-3 mb-2 ">Nutrition (per serving)</h2>
        <div class="flex items-center mb-2 bb-6">
          <p class="t-3">1000 <span class="t-0 cg-4">kcal</span></p>
        </div>

        <div class="flex items-center">
          <p class="tn-1 cg-4 " style="border-bottom: 1px dotted #ccc;">Carbohydrates</p>
          <p class="t-1 flex-item-right">50 <span class="t-0 cg-4">g</span></p>
        </div>

        <div class="flex items-center">
          <p class="tn-1 cg-4" style="border-bottom: 1px dotted #ccc;">Fat</p>
          <p class="t-1 flex-item-right">10 <span class="t-0 cg-4">g</span></p>
          
        </div>

        <div class="flex items-center">
          <p class="tn-1 cg-4" style="border-bottom: 1px dotted #ccc;">Protein</p>
          <p class="t-1 flex-item-right">24 <span class="t-0 cg-4">g</span></p>
          
        </div>

        <div class="flex items-center">
          <p class="tn-1 cg-4" style="border-bottom: 1px dotted #ccc;">Sodium</p>
          <p class="t-1 flex-item-right">40 <span class="t-0 cg-4">mg</span></p>
          
        </div>

        <div class="flex items-center">
          <p class="tn-1 cg-4" style="border-bottom: 1px dotted #ccc;">Sugar</p>
          <p class="t-1 flex-item-right c-warning">42 <span class="t-0 c-warning">g</span></p>
          
        </div>
      </div>
    </div>

    <!-- <div class="col-md-6 push-md-3">
      <ul class="cbgg-white">
        <li v-for="recipe in recipes | orderBy 'updated_at' -1" class="flex items-center py-2 px-3 b-8">
          <a v-link="{ path: '/admin/recipes/' + recipe.id }"><h3 class="tw-semibold mr-1 cg-black">{{ recipe.name }}</h3></a>
        </li>
      </ul>
    </div> -->

  </main>
</template>