<script lang="coffee">

  module.exports =
    name: "Recipe"

    data: ->
      recipe: []

    route:
      data: (transition) ->
        @getRecipe(transition.to.params.id)
    
    methods:
      getRecipe: (id) ->

        @$http.get("recipes/#{id}")
          .then (response) ->
            @$set('recipe', response.data.recipe)

            console.log @recipe

          .catch (response) ->
            console.error response

</script>

<template>
  <div class="container">
    <h1>{{ recipe.name }}</h1>

    {{ recipe.calories_per_serving }}

    <div v-for="ingredient in recipe.foods_recipes">
      {{ ingredient.measurement }}
      {{ ingredient.food.name }}
    </div>

  </div>
</template>