button {
  cursor: pointer;
  line-height: 1;
}

.btn,
[class^='btn-'],
[class*=' btn-'] {
  border-radius: 4px;

  &[class*='solid'] {
    @extend .d-inline-block;

    @extend .py-1;
    @extend .px-2;
  }

}