.field {
  label {
    @extend .d-block;
    @extend .mb-1;
  }

  select,
  input,
  input[type="text"],
  input[type="email"] {
    @extend .w-100;
    @extend .py-1;
    @extend .px-1;
    @extend .antialiased;

    @extend .bb-7;
    // @extend .cbgg-white;
    // @extend .b-7;
    // border-radius: 4px;

    outline: none;
    

    &:focus {
      // @extend .b-2;
      
      @extend .bb-2;
    }
  }
}