.fade-up-transition {
  transition: all .3s ease;
  opacity: 1;
  transform: translate3d(0, 0, 0)
}

.fade-up-enter {
  opacity: 0;
  transform: translate3d(0, 50px, 0)
}

.fade-up-leave {
  opacity: 0;
  transform: translate3d(0, -50px, 0)
}