<script lang="coffee">
  require('gsap')
  moment = require('moment')

  module.exports =

    data: ->
      newUser:
        email: 'test2@chrisgriffith.co'
        first_name: 'Chris'
        last_name: 'Griffith'
        birthday: '1991-07-07'
        sex: 0
        height: 70.0
        starting_weight: 160.0
        activity_level: 4
        bmr: 1000
        daily_caloric_need: 3000
      step: 1
      inputValid: true
      inputTouched: false
      showError: false
      showEnter: false
      stepInactiveStyle:
        opacity: 0.3
      position: 0

    directives:
      focus = require('vue-focus')

    methods:
      calculateCaloricNeed: ->

        age = moment().diff(@newUser.birthday, 'years')

        if @newUser.sex == 0
          # BMR = 66 + ( 6.23 x weight in pounds ) + ( 12.7 x height in inches ) - ( 6.8 x age in year )
          bmr = (66+(6.23*@newUser.starting_weight)+(12.7*@newUser.height)-(6.8*age))
        else
          # BMR = 655 + ( 4.35 x weight in pounds ) + ( 4.7 x height in inches ) - ( 4.7 x age in years )
          bmr = (66+(4.35*@newUser.starting_weight)+(4.7*@newUser.height)-(4.7*age))

        switch @newUser.activity_level
          when 1 then caloricNeed = bmr*1.2
          when 2 then caloricNeed = bmr*1.375
          when 3 then caloricNeed = bmr*1.55
          when 4 then caloricNeed = bmr*1.725
          when 5 then caloricNeed = bmr*1.9

        @$set('newUser.bmr', bmr.toFixed(2))
        @$set('newUser.daily_caloric_need', caloricNeed.toFixed(2))

        @goToNextStep()

      onInputChange: ->
        @showEnter = true

      onValid: ->
        @inputValid = true

      onInvalid: (error) ->
        @inputValid = false
        @errorMessage = error

      goToNextStep: ->
        if @inputValid
          @showError = false
          @showEnter = false
          @step++
        else
          @showError = true

      createNewUser: ->

        # chars = "abcdefghijklmnopqrstuvwxyz!@#$%^&*()-+<>ABCDEFGHIJKLMNOP1234567890"
        # for i in [0...14]
        #   i = Math.floor(Math.random() * chars.length)
        #   @newUser.password += chars.charAt(i)

        # @newUser.password_confirmation = @newUser.password

        @$http.post('users', @newUser)
          .then (response) ->
            localStorage.setItem('currentUser', JSON.stringify(response.data.user))
            @$router.go('/dashboard')

          .catch (response) ->
            console.error response

</script>

<template>
  <main class="py-10">
    <div class="container">
      <div class="col-md-6 push-md-2 px-4">
        <div class="mb-8">
          <h1 class="t-2 tw-semibold mb-5">Welcome to Viden <span class="t-0">[vee-euhn]&trade;</span> </h1>
          <p class="cg-2">To get started with Wissen, we need to calculate your estimated Basal Metabolic Rate (BMR) and Daily Caloric Need. We can do this by taking into account your gender, age, height, weight, and activity level.</p>
        </div>
      </div>

      <div class="col-md-8 push-md-2">
        <validator name="validateBMR">
          <div class="mb-5">
            <div v-if="step == 1" class="flex items-end cbgg-white px-4 py-2 shadow">
              <div class="field col-md-5 mr-2">
                <label for="first-name">What's your name?</label>
                <input 
                  v-focus-auto 
                  v-model="newUser.first_name" 
                  v-validate:first_name="{ required: true }" 
                  @valid="onValid" 
                  @invalid="onInvalid('This is required.')" 
                  v-on:keyup.enter="goToNextStep()"
                  v-on:keyup="onInputChange"
                  type="text" 
                  id="first-name" 
                  lazy>
              </div>
              <div class="field col-md-5">
                <input 
                  v-model="newUser.last_name" 
                  v-validate:last_name="{ required: true }" 
                  @valid="onValid" 
                  @invalid="onInvalid('This is required.')" 
                  v-on:keyup.enter="goToNextStep()"
                  v-on:keyup="onInputChange"
                  type="text" 
                  id="last-name" 
                  lazy>
              </div>
            </div>
            <div v-if="step == 2" class="row">
              <div class="field col-md-4 pr-md-1">
                <label for="age">Birthday</label>
                <input 
                  v-focus-auto 
                  v-model="newUser.birthday"
                  v-validate:newUser.birthday="{ required: true }"
                  @valid="onValid" 
                  @invalid="onInvalid('This is required.')" 
                  v-on:keyup.enter="goToNextStep()" 
                  v-on:keyup="onInputChange"
                  type="date" id="age" 
                  lazy>
              </div>
            </div>
            <div v-if="step == 3" class="row">
              <div class="field col-md-3 pr-md-1">
                <label for="sex">Sex</label>
                <select
                  v-focus-auto
                  v-model="newUser.sex"
                  v-on:keyup.enter="goToNextStep()"
                  v-validate:newUser.sex="{ required: true }"
                  v-on:keyup="onInputChange"
                  @valid="onValid" 
                  @invalid="onInvalid('This is required.')" 
                  id="sex" 
                  lazy>
                    <option v-bind:value="0">Male</option>
                    <option v-bind:value="1">Female</option>
                </select>
              </div>
            </div>
            <div v-if="step == 4" class="row">
              <div class="field col-md-3 pr-md-1">
                <label for="height">Height (in)</label>
                <input 
                  v-focus-auto 
                  v-model="newUser.height"
                  v-validate:newUser.height="{ required: true }"
                  v-on:keyup.enter="goToNextStep()"
                  v-on:keyup="onInputChange"
                  @valid="onValid" 
                  @invalid="onInvalid('This is required.')" 
                  type="text" id="height" 
                  lazy>
              </div>
            </div>
            <div v-if="step == 5" class="row">
              <div class="field col-md-3">
                <label for="weight">Weight (lbs)</label>
                <input 
                  v-focus-auto
                  v-model="newUser.starting_weight"
                  v-validate:newUser.starting_weight="{ required: true }"
                  v-on:keyup.enter="goToNextStep()"
                  v-on:keyup="onInputChange"
                  @valid="onValid" 
                  @invalid="onInvalid('This is required.')"
                  type="text"
                  id="weight"
                  lazy>
              </div>
            </div>
            <div v-if="step == 6" class="row">
              <input v-focus-auto type="radio" name="level" v-model="newUser.activity_level" v-on:keyup.enter="calculateCaloricNeed()" v-bind:value="1">Sedentary</input><br>
              <input type="radio" name="level" v-model="newUser.activity_level" v-on:keyup.enter="calculateCaloricNeed()" v-bind:value="2">Lightly Active</input><br>
              <input type="radio" name="level" v-model="newUser.activity_level" v-on:keyup.enter="calculateCaloricNeed()" v-bind:value="3">Moderately Active</input><br>
              <input type="radio" name="level" v-model="newUser.activity_level" v-on:keyup.enter="calculateCaloricNeed()" v-bind:value="4" checked>Very Active</input><br>
              <input type="radio" name="level" v-model="newUser.activity_level" v-on:keyup.enter="calculateCaloricNeed()" v-bind:value="5">Extra Active</input>
            </div>
          </div>
          <p v-if="showError">{{ errorMessage }}</p>
          <p v-if="!showError && showEnter && step < 7" class="tn-1 cg-3 px-4">Press [Enter]</p>

          <div v-if="step == 7">
            <div class="flex mb-5">
              <div class="pr-6">
                <p class="tn-1">Your Daily Caloric Need is</p>
                <p class="t-3">{{ newUser.daily_caloric_need }}</p>
              </div>
              <div>
                <p class="tn-1">Your Basal Metabolic Rate is</p>
                <p class="t-2">{{ newUser.bmr }}</p>
              </div>
            </div>
            <div class="row">
              <div class="field col-md-5 mr-2">
                <label for="email">What's your email address?</label>
                <input 
                  v-focus-auto 
                  v-model="newUser.email" 
                  v-validate:email="{ required: true }" 
                  @valid="onValid" 
                  @invalid="onInvalid('This is required.')" 
                  v-on:keyup.enter="createNewUser()"
                  v-on:keyup="onInputChange"
                  type="text" 
                  id="email" 
                  lazy>
              </div>
            </div>
          </div>
          <div v-if="step == 8">
            User created
          </div>
        </validator>
      </div>
    </div>
  </main>
</template>