<script lang="coffee">
  module.exports =
    name: "AccountSettings"

    data: ->
      settingsModified: false
      changesSaved: false

    directives:
      focus = require('vue-focus')

    methods:
      updateUser: ->
        @$http.patch("users/#{@$root.currentUser.id}", @$root.currentUser)
          .then (response) ->
            localStorage.setItem('currentUser', JSON.stringify(response.data.user))
            @settingsModified = false
            @changesSaved = true

            setTimeout =>
              @changesSaved = false
            , 1500

          .catch (response) ->
            console.error response

      onModified: ->
        console.log 'modified'
        @changesSaved = false
        @settingsModified = true

</script>

<template>
  <div v-if="changesSaved" class="fixed-bottom-left cbg-success w-100 py-2">
    <div class="container">
      <p class="cg-white">Changes Saved!</p>
    </div>
  </div>

  <main>
    <section class="container py-10">
      <div class="col-md-6 push-md-1">
        <h1 class="t-3 mb-1">Account Settings</h1>
        <h1 class="cg-3 mb-10">{{ $root.currentUser.first_name }} {{ $root.currentUser.last_name }}</h1>
        
        <validator name="settingsValidator">
          <form v-on:submit.prevent="updateUser">
            <div class="field row mb-5 mln-2">
              <div class="col-6 pl-2">
                <label for="first_name">First Name</label>
                <input v-focus-auto v-model="$root.currentUser.first_name" v-validate:first_name="['required']" @modified="onModified" type="text" id="first_name">
              </div>
              <div class="col-6 pl-2">
                <label for="last_name">Last Name</label>
                <input v-model="$root.currentUser.last_name"v-validate:last_name="['required']"  @modified="onModified" type="text" id="last_name">
              </div>
            </div>

            <div class="field mb-8">
              <label for="email">Email Address</label>
              <input v-model="$root.currentUser.email" type="email" id="email" disabled>
            </div>

            <button v-if="$settingsValidator.valid && settingsModified" type="submit" class="btn-solid cbgg-black cg-white">Save Changes</button>
          </form>
        </validator>
      </div>
    </section>
  </main>
</template>