<script lang="coffee">
  module.exports =

    data: ->
      credentials: {}
      errorMessage: null

    directives:
      focus = require('vue-focus')

    route:
      activate: ->
        @$router.go('/dashboard') if @$root.currentUser?

    methods:
      signIn: ->
        @$http.post('sessions', @credentials)
          .then (response) ->
            # Add the current user to the root.
            @$set('$root.currentUser', response.data.user)

            # Add the current user to local storage where it can be accessible in
            # the router's `beforeEach` method.
            localStorage.setItem('currentUser', JSON.stringify(@$root.currentUser))

            @$router.go('/dashboard')

          .catch (response) ->
            @$set('errorMessage', response.data.errors)

</script>

<template>
  <div class="container py-10">
    <div class="col-md-4 push-4 ">
      <form v-on:submit.prevent="signIn" class="w-100 px-4 py-3 mb-2 cbgg-white rounded shadow">

        <div v-if="errorMessage" transition="fade" class="px-2 py-1 c-error cbg-error b-error mb-1">{{ errorMessage }}.</div>
        
        <div class="field mb-2">
          <input v-focus-auto v-model="credentials.email" type="email" placeholder="Email">
        </div>
        <div class="field mb-3">
          <input v-model="credentials.password" type="password" placeholder="Password">
        </div>
        
        <button class="btn-solid py-1 w-100 caps tn-1 cbgg-black cg-white mt-1 ta-left relative">
          <span>Sign In</span>
          <span class="t-2 ion-ios-arrow-thin-right absolute-right-middle mr-1"></span>
        </button>
      </form>
      <div class="px-4">
        <p class="tn-1 cg-4">Recover Account</p>
      </div>
    </div>
    
  </div>
</template>