<script lang="coffee">
  module.exports =

    init: ->
      @$root.currentUser = null
      localStorage.removeItem('currentUser')
      @$router.go('/users/sign_in')

</script>

<template>
</template>