$color-primary: #0bf !default;
$color-secondary: #ff8740 !default;
$color-success: #60aa53 !default;
$color-error: #eb2e62 !default;
$color-warning: #e89414 !default;
$color-facebook: #3b5998 !default;
$color-twitter: #55acee !default;

$greys: lighten(#000, 10%) lighten(#000, 24%) lighten(#000, 38%) lighten(#000, 52%) lighten(#000, 64%) lighten(#000, 78%) lighten(#000, 92%) lighten(#000, 98%) !default;

.c-primary { color: $color-primary; }
.c-secondary { color: $color-secondary; }
.c-success { color: $color-success; }
.c-warning { color: $color-warning; }
.c-error { color: $color-error; }

.cbg-primary { background-color: $color-primary; }
.cbg-secondary { background-color: $color-secondary; }
.cbg-success { background-color: $color-success; }
.cbg-warning { background-color: $color-warning; }
.cbg-error { background-color: rgba($color-error, 0.25); }

.cg-black { color: $black; }
.cg-white { color: $white; }

.cbgg-black { background-color: $black; }
.cbgg-white { background-color: $white; }

@each $grey in $greys {
  $i: index($greys, $grey);

  .cg-#{$i} { color: $grey; }
  .cbgg-#{$i} { background-color: $grey; }
}

@for $i from 1 to 10 {
  .a-#{$i} { opacity: $i/10; }
}
