$overlay-color: #000 !default;
$overlay-opacity: 0.7 !default;

.overlay,
[class^='overlay-'],
[class*=' overlay-'] {
  width: 100%;
  height: 100%;
  background: rgba($overlay-color, $overlay-opacity);
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;

  @for $i from 1 through 9 {
    &[class*='#{$i*10}'] { background: rgba($overlay-color, $i/10); }
  }

}
