// Default border weight.
$default-border-weight: 1px !default;
$thick-border-weight: $default-border-weight*2 !default;

$color-primary: #0bf !default;
$color-secondary: #ff8740 !default;
$color-success: #60aa53 !default;
$color-error: #f00 !default;
$color-warning: #e89414 !default;

// Define the greyscale.
$greys: #313233 #595a5c #646566 #87888a #bec0c2 #d7d8da #e8e9eb #f2f4f5 !default;

// Applies default border settings.
.b { border: $default-border-weight solid $default-border-color; }
.bt { border: $default-border-weight solid $default-border-color; }
.br { border: $default-border-weight solid $default-border-color; }
.bb { border: $default-border-weight solid $default-border-color; }
.bl { border: $default-border-weight solid $default-border-color; }

.b-thick { border: $thick-border-weight solid $default-border-color; }
.bt-thick { border: $thick-border-weight solid $default-border-color; }
.br-thick { border: $thick-border-weight solid $default-border-color; }
.bb-thick { border: $thick-border-weight solid $default-border-color; }
.bl-thick { border: $thick-border-weight solid $default-border-color; }

.b-success { border: $default-border-weight solid $color-success; }
.bt-success { border: $default-border-weight solid $color-success; }
.br-success { border: $default-border-weight solid $color-success; }
.bb-success { border: $default-border-weight solid $color-success; }
.bl-success { border: $default-border-weight solid $color-success; }

.b-warning { border: $default-border-weight solid $color-warning; }
.bt-warning { border: $default-border-weight solid $color-warning; }
.br-warning { border: $default-border-weight solid $color-warning; }
.bb-warning { border: $default-border-weight solid $color-warning; }
.bl-warning { border: $default-border-weight solid $color-warning; }

.b-error { border: $default-border-weight solid $color-error; }
.bt-error { border: $default-border-weight solid $color-error; }
.br-error { border: $default-border-weight solid $color-error; }
.bb-error { border: $default-border-weight solid $color-error; }
.bl-error { border: $default-border-weight solid $color-error; }

.b-black { border: $default-border-weight solid $black; }
.bt-black { border: $default-border-weight solid $black; }
.br-black { border: $default-border-weight solid $black; }
.bb-black { border: $default-border-weight solid $black; }
.bl-black { border: $default-border-weight solid $black; }

.b-white { border: $default-border-weight solid $white; }
.bt-white { border: $default-border-weight solid $white; }
.br-white { border: $default-border-weight solid $white; }
.bb-white { border: $default-border-weight solid $white; }
.bl-white { border: $default-border-weight solid $white; }

@each $grey in $greys {
  $i: index($greys, $grey);

  .b-#{$i} { border: $default-border-weight solid $grey; }
  .bt-#{$i} { border-top: $default-border-weight solid $grey; }
  .br-#{$i} { border: $default-border-weight solid $grey; }
  .bb-#{$i} { border-bottom: $default-border-weight solid $grey; }
  .bl-#{$i} { border: $default-border-weight solid $grey; }

  .b-thick-#{$i} { border: $thick-border-weight solid $grey; }
  .bt-thick-#{$i} { border: $thick-border-weight solid $grey; }
  .br-thick-#{$i} { border: $thick-border-weight solid $grey; }
  .bb-thick-#{$i} { border: $thick-border-weight solid $grey; }
  .bl-thick-#{$i} { border: $thick-border-weight solid $grey; }
}

// Shadoes.
.shadow { box-shadow: $default-box-shadow; }

// [class^='shadow-'],
// [class*=' shadow-'] {
// 	[class*='sharp'] {}
// 	[class*='diffused'] {}
// }
