<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
  <title>Viden [Vee-euhn]&trade; – Because Knowledge Is Power</title>

  <link rel="stylesheet" type="text/css" href="/app.css">
</head>
<body class="cbgg-8">

  <app></app>
  
  <script>
    window.apiUrl = '<%= apiUrl %>'
  </script>
  <script src="/app.js"></script>
  <script>require('initialize');</script>
</body>

</html>
