<script lang="coffee">
  module.exports =
    name: 'DefaultLayout'

    data: ->
      isLoggedIn: false

    ready: ->
      @isLoggedIn = true if @$root.currentUser?
      console.log @isLoggedIn

</script>

<template>
  <header class="px-5 py-2">
    <div class="container">
      <div class="flex items-center">
        <a v-link="{ path: '/' }" class="tn-1 cg-3 mr-5">Viden</a>
        <a v-if="isLoggedIn" v-link="{ path: '/dashboard', activeClass: 'underline' }" class="cg-black mr-2">Dashboard</a>
        <a v-if="isLoggedIn" href="#"class="cg-black mr-2">Recipes</a>
        <a v-if="isLoggedIn" href="#" class="cg-black mr-2">Plan</a>
        <div class="flex-item-right">
          <a v-if="isLoggedIn" v-link="{ path: '/account', activeClass: 'underline' }" class="cg-black mr-2">{{ $root.currentUser.first_name }} {{ $root.currentUser.last_name }}</a>
          <a v-if="isLoggedIn" v-link="{ path: '/users/sign_out', activeClass: 'underline' }" class="cg-black">Log Out</a>
          <a v-if="!isLoggedIn" v-link="{ path: '/users/sign_in', activeClass: 'underline' }" class="cg-black">Log In</a>
        </div>
      </div>
    </div>
  </header>

  <router-view></router-view>

  <footer>
    <div class="container">
      <nav class="px-4 pt-4 pb-8">
        <a v-link="{ path: '/about' }" class="tn-1 cg-3">About</a>
      </nav>
    </div>
  </footer>

</template>